Pillow
PrettyTable
autopep8
black
bokeh==2.4.1
boto3
botocore
humanize
ipykernel
jupyterlab
kiwisolver
lightgbm
matplotlib
mlflow
mysql-connector-python
mysqlclient
numpy
pandas
pandoc
plotly
pyarrow
pydot
pylint
requests_cache
scikit-learn
seaborn
streamlit
ta-lib
tqdm
xgboost
yfinance
